<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="DA400ConnectionString" connectionString="Provider=IBMDA400.DataSource.1;Data Source=VNTAS02;Persist Security Info=True;User ID=NEWBUSUSR;Initial Catalog=RCHASE12"
            providerName="System.Data.OleDb" /> 
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
