<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="Database" value="#{WebConfig.Database}" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="AS400Server" value="#{WebConfig.AS400Server}" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="LibraryList" value="#{WebConfig.LibraryList}" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="TableLibrary" value="#{WebConfig.TableLibrary}" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="TransactionLibrary" value="#{WebConfig.TransactionLibrary}" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="ObjectLibrary" value="#{WebConfig.ObjectLibrary}" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="AutoActivationURL" value="#{WebConfig.AutoActivationURL}" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="IgnoreCertificateError" value="#{WebConfig.IgnoreCertificateError}" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="TimeOutInSeconds" value="#{WebConfig.TimeOutInSeconds}" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="DMSUser" value="#{WebConfig.DMSUser}" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="DMSDomain" value="#{WebConfig.DMSDomain}" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="DMSPassword" value="#{WebConfig.DMSPassword}" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="DMSFilePath" value="#{WebConfig.DMSFilePath}" />
  </appSettings>
  <connectionStrings>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="TokenStoreConnectionString" connectionString="#{WebConfig.TokenStoreConnectionString}" />
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="LoggingConnectionString" connectionString="#{WebConfig.LoggingConnectionString}" />
  	<add xdt:Locator="Match(name)" xdt:Transform="Replace" name="DA400ConnectionString" connectionString="#{WebConfig.DA400ConnectionString}" />
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="AS400ConnectionString" connectionString="#{WebConfig.AS400ConnectionString}" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>