<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="Database" value="RCHASE12" />
    <add key="AS400Server" value="VNTAS02" />
    <add key="UserID" value="NEWBUSUSR" />
    <add key="Password" value="FTZcvAqKd61zhRBdzEDx/g==" />
    <add key="LibraryList" value="TSTTRNM3, TSTTBLM3, TSTOBJM3, VIGPGMM3, VIGPGMPRE, VIGPGM" />
    <add key="TableLibrary" value="TSTTBLM3" />
    <add key="TransactionLibrary" value="TSTTRNM3" />
    <add key="ObjectLibrary" value="TSTOBJM3" />
    <add key="DataQueueIn" value="ALPROCRQ" />
	<add key="DataQueueOut" value="ALPROCRS" />
    <add key="AutoActivationURL" value="http://localhost:54944/autoactivation/activate/" /> 
    
    <add key="IgnoreCertificateError" value="true" />
    <add key="TimeOutInSeconds" value="60" />
    <add key="DMSUser" value="uluroagent" />
    <add key="DMSDomain" value="VISION" />
    <add key="DMSPassword" value="PUICaZsH7dUsUbDYI8EDkQ==" />
    <add key="DMSFilePath" value="\\DC-4APPULU01\As400File\" />
  </appSettings>

  <connectionStrings>
    <add name="TokenStoreConnectionString" connectionString="Data Source=TNHO1-4SQLAP01;Initial Catalog=TokenStore;Persist Security Info=True;User ID=app_internetexec_user;Password=ThisIsATest" />
    <!-- <add name="TokenStoreConnectionString" connectionString="Data Source=RTRHO;Integrated Security=SSPI;Initial Catalog=TokenStore;Persist Security Info=True" /> -->
    <add name="LoggingConnectionString" connectionString="server=DEVPOLICYLOG.vision-ins.net;integrated security=false; persist security info=True; uid=AlfaLoggingApp; pwd=yo8DfA76N4aJbQMz_TZwROp2XBxdgh1IKu0tGqrn; database=Alfa.Logging" />
    <add name="DA400ConnectionString" connectionString="UZ4ugad9x+p6fopDR2JIanwAM2mHhDWB5DoKNcbU1Q2Ph4E45mtWrnbevSLLOb1WBgUo8MP22xmw2iVUtWtopAtJdJgW+UrLq+65+VOfWkC0HM5Ag+yxfFdvKrzpLJNuXIHEl9gANylmzX7eVEPRNnwWjOr9R70nKHyt+gbNWmM4mBIdcVesTRSlimK+2yFQ" providerName="System.Data.OleDb" />
    <add name="AS400ConnectionString" connectionString="P7M1BC7aghon1moM0cJMw0vDC9xrnokXri1Veb6/40IykcsPt4p898WNHLBdJ1EQavCFWgLG9HmthLGcqAYmWQZBpPAQpwP+aY/nnyZLDiLW7zY+tdTwjdYpMqwakDhQflL5Qfj51//2tNOerfK9AzDIlkouMs4Dt/PcRO7q84R6HiDUH0eso/awX4L88FdgqN/pPTitxSQjz8IYe3T8kQ=="/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" defaultRedirect="/unknownErr.html" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>